
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
AGENTS.md
*.tsbuildinfo

# My own docs
docs/
coverage/
TODO.txt
TODO.md
.env
stats.html

_old/