:root {
  --major-button-bg: #002752;
  --major-button-hover-bg: #002752;
  --major-button-color: #ffffff;
}

.app-title {
  flex-grow: 1;
  text-align: center;
  font-size: 1.0rem;
  font-weight: bold;
  color: #f8f8f8ff;
}

.app-title-bar {
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: var(--major-button-bg, #888);
  border-bottom: 1px solid #eee;
}

/* Major button styles */
.major-button {
  background-color: var(--major-button-bg, #f0f0f0);
  color: var(--major-button-color, #333);
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color 0.1s, color 0.1s, outline 0s;

  padding: 7px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.major-button:hover {
  background-color: var(--major-button-hover-bg, #ffffff);
  color: #ffffff;
  outline: 1px solid var(--major-button-bg, #333);
  outline-offset: 0px;
}

.major-button:focus {
  background-color: var(--major-button-hover-bg, #002752);
  color: #ffffff;
  outline: 2px solid #ff0000;
  outline-offset: 0px;
}

/* Minor button styles */
.minor-button {
  background-color: rgba(0,0,0,0); /* transparent */
  color:  #333;
  font-size: 0.7rem;
  font-weight: bold;

  padding: 0px 4px;
  margin-bottom: 5px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.minor-button:hover {
  background-color: rgba(0,0,0,0);
  color:  #ff1b1b;
  outline: 1px solid #dddddd;
  outline-offset: 0px;
}

.minor-button:focus {
  background-color: rgba(0,0,0,0);
  color:  #ff1b1b;
  outline: 1px solid #ffd4d4;
}

.threadInput {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px 2px;
  font-size: 14px;
  font-family: inherit;
}

.chatTextArea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  font-family: inherit;
}

/* Add theming for the left pane */
.left-pane {
  background-color: #f9f9f9; /* Slightly darker than white for light theme */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hamburger-bar,
.hamburger-bar::before,
.hamburger-bar::after {
  content: '';
  display: block;
  width: 24px; /* Same as button width */
  height: 3px; /* Thickness of the bars */
  background-color: #f7f7f7; /* Color of the bars */
  position: absolute;
}

/* Position the pseudo-elements relative to the main bar */
.hamburger-bar::before {
  top: -8px; /* Distance above the middle bar */
}

.hamburger-bar::after {
  bottom: -8px; /* Distance below the middle bar */
}

.hamburger-button {
  /* Make the button look like an icon container */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 24px; /* Menu button size */
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hamburger-button:focus {
  outline: 2px solid #ff0000;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 50px; /* Adjust size as needed */
  font-weight: bold;
  color: #333; /* Adjust color as needed */
  padding: 0;
  line-height: 1; /* Helps with vertical centering */
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  color: #ff0000;
  outline: transparent;
}

.close-button:focus {
  color: #ff0000;
  outline: transparent;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .major-button {
    background-color: #ffffff;
    color: #000000;
  }

  .major-button:hover {
    background-color: #414141;
    color: white;
    outline: white 2px solid;
  }

  .major-button:focus {
    background-color: #414141;
    color: white;
    outline: white 2px solid;
  }

  .minor-button {
    background-color: rgba(0,0,0,0);
    color: #fff;
  }

  .minor-button:hover {
    background-color: rgba(0,0,0,0);
    outline: 1px solid #5a5a5a;
  }

  .minor-button:focus {
    background-color: rgba(0,0,0,0);
    outline: 1px solid #4e4e4e;
  }

  .left-pane {
    background-color: #333; /* Slightly lighter than black for dark theme */
  }

  .close-button {
    color: #ececec; /* Adjust color as needed */
  }
}

